html {
            font-size: 16px!important;
        }
body {
  background-color:#eee;
  margin: 0 auto;
  color: #757575;
  font: Roboto,Tahoma, Arial, Helvetica, sans-serif!important;
  overflow-x: hidden;
}
h1 {
  color: white;
  line-height: 24px;
  font-family: Roboto,Tahoma, Arial, Helvetica, sans-serif!important;  
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4rk4st');
  src:  url('../fonts/icomoon.eot?4rk4st#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4rk4st') format('truetype'),
    url('../fonts/icomoon.woff?4rk4st') format('woff'),
    url('../fonts/icomoon.svg?4rk4st#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tutorial:before {
  content: "\e900";
}
.icon-terms:before {
  content: "\e901";
}
.icon-rules:before {
  content: "\e902";
}
.icon-faq:before {
  content: "\e903";
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*start header part*/
.header {
    margin-bottom: 10px;
    background: #000;
}
.logobx {
  background: url(/infocenter/slots/_common-contents/_images/gpi-black.png) no-repeat scroll center 23px;
}
.logobx-gameplay {
  background: url(/infocenter/slots/_common-contents/_images/gameplay-white.png) no-repeat scroll center 14px;
}
.logobx,
.logobx-gameplay {
  width: 100%;
  height: 90px;
  text-align: center;
  display: none;
}
.blue-bar-head {
    background-color: #A8C62C;
    text-align: center;
    color: white;
    padding: 5px 0px;
}
.blue-bar-head i {
    font-size: 30px;
    width: 50px;
}





/* flag selector */
.flag_en-us {
  background-position: 0 0;
  width: 18px;
  height: 18px;
}
.flag_zh-cn {
    background-position: -448px 0;
    width: 18px;
    height: 18px;
}
.flag_ja-jp {
    background-position: -128px 0;
    width: 18px;
    height: 18px;
}
.flag_km-kh {
    background-position: -192px 0;
    width: 18px;
    height: 18px;
}
.flag_ko-kr {
    background-position: -256px 0;
    width: 18px;
    height: 18px;
}
.flag_th-th {
    background-position: -320px 0;
    width: 18px;
    height: 18px;
}
.flag_vi-vn {
    background-position: -384px 0;
    width: 18px;
    height: 18px;
}



/*start menu with icons*/
.mainbx {
  width: 100%;
  background-color: #fff;
  display: inline-block; 
}
.nav-ico {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding:0;  
}
.nav-bx {
  width: 100%;
  display: inline-block;
  padding: 30px 0;
  border-bottom: 1px #F4F4F4 solid;
}
.nav-ico ul {
    margin: 0 auto;
    padding: 0;
    text-align: center; 
}
.nav-ico li {
  margin: 0 auto;
  text-align: center;
  list-style: none;
    padding: 0px 15px;
  display: inline-block;  
}
.nav-ico li a {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block; 
  font-size: 17px;
  color: #757575; 
}
.nav-ico li a:hover, .nav-ico li a.active {
  color:#A8C62C; 
}
.nav-ico li a i {
  text-align: center;
  font-size: 60px;
  margin: 0 auto;
  display: block;
}
.backicon {
  padding: 12px 0px;
}
.backicon li {
  margin: 0 auto;
  text-align: right;
  padding-right: 18px;
}
.backicon li a i {
  float: left;
}
.backicon li a i {
  font-size: 37px;
}
.backicon li a em {
  line-height: 40px;
  padding-left: 10px;
  font-style: normal;
}

/* start secondary toggle menus */
.sub-menusbx {
  width: 100%;
}
.sub-menusbx span.menu-select {
  color:#A8C62C;
  text-align: center;
  width: 100%; 
  float: left;
  margin-top: -35px;
  display: none;
}
.navbar-default {
  background: none;
  border: none;
  position: relative;
}
.navbar-header {
  background-color: #f8f8f8;
}
.navbar {
  border-radius: 0;
  min-height: auto;
  margin: 0px 0px;
}
.navbar-toggle {
  border-radius: 0;
  background: none;
  margin: 5px 5px 5px 0px;
}
.nav {
  background: none;
  text-align: center;
}
.navbar-nav {
  float: none;
}
.navbar-nav ul {
  padding: 0;
  margin: 0;
}
.navbar-default .navbar-nav li {
  float: none;
  display: inline-block;
  border-right: 1px #e6e6e6 solid;
  color: #e6e6e6;
  padding: 0px 12px 0px 7px;
  margin: 5px 0px;
}
.navbar-default .navbar-nav li:last-child {
  border-right: none;
}
.navbar-nav li a{
  padding: 0;
  margin: 0;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: #A8C62C;
  background: none;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color:#A8C62C;
}


/*start secondary menus for accordion */
.menu-collapse {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #DBDBDB;
}
.panel {
  border-color:none;
  background: none;
  border:none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.panel-group .panel+.panel {
  margin: 0;
}
.panel-group,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-heading a,
.panel-group .panel-title,
.panel-group .panel-title a,
.panel-group .panel-body,
.panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-radius: 0px;
  border: 0;
}
.panel-group .panel-heading {
  padding: 0;
}

.panel-group .panel-heading a {
  display: block;
  background: #A8C62C;
  color: #ffffff;
  font-size: 17px;
  padding: 15px;
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid #DBDBDB;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  padding-right: 65px;
}
.panel-group .panel-heading a.collapsed {
  background: #fff;
  color: #757575;
}
.panel-group .panel-heading a.collapsed:hover {
  background: #A8C62C; 
  color: #fff;
  padding-left: 25px; 
}
.panel-group .panel-heading a:after {
    content: '∟';
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 18px;
    color: white;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.panel-group .panel-heading a.collapsed:after {
    top: 10px;
    color: #B3B3B3;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.panel-group .panel-heading a.collapsed:hover:after {
    color: white;
}

.panel-group .panel-collapse {
  margin-top: 0px !important;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top: none;
  border:1px #DBDBDB solid;
  border-top: none;
}

.panel-body {
  padding: 20px 15px;
  font-size: 16px;
  line-height: 23px;
  color: #757575;
}
.panel-body blockquote {
  font-size: 16px; 
}
.panel-body p {
  margin: 0px 0px 17px 0px;
}
.panel-body a {
  color: #A8C62C;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}
.panel-body a:hover {
  color:#A8C62C;
  text-decoration: underline;
}
.panel-body a:focus {
  text-decoration: none;
}
.panel-body ol li {
  margin-top:5px;
}
.panel-body ul li {
  margin-top:5px;
}
.content-list {
  margin: 20px 0px; 
}
.content-list li {
  line-height: 30px;
}
.nostyle1 {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nostyle1 li p {
  margin: 0px 0px 10px 40px;
}
.nostyle1 li {
  clear: both;
}
.nostyle1 li span {
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 10px;
}
.nostyle2 {
    list-style: none; 
}

/*start table boxes*/
.table {
  background: #eee;
  border-spacing: 0;
  font-size: 14px;
}
.table thead, .table tr:first-child {
  color: #000; 
  font-weight:bold;
}
.table td {
  border: 1px solid #fff;
  text-align: center;
}
.table-textleft td {
  text-align: left;
}
.table .table-inside1, .table .table-inside2{
  background:none; 
  padding:0; 
  border: none; 
  margin-bottom:0;
}
.table .table-inside1 td, .table .table-inside2 td{
  border: none;
  font-weight: normal;
  color: #757575; 
  min-height: 80px;
}
.table .table-inside2 td:first-child{
    border-right: 1px solid #fff;
}
/*.table .table-inside2 tbody tr td{
  background: red;
  padding:0;
}*/
.sbull {
  width: 100%;
}
.sbull img {
  float: left;
}
.rowheader td {
  background: #ddd;
}
.carspace img {
  margin-bottom: 7px;
}
#gotop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}
#back-to-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #A8C62C;
    color: #fff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
}
#back-to-top.show {
    opacity: 1;
}
.heading-txt {
  text-align: left;
  padding: 0px 15px;
}


/*kung fu furry*/
.game-symbol img {
  max-width: 100px;
  vertical-align: middle;
}
.text-style {
  font-weight: bold;
  background: #a2a2a2;
  font-size: 16px;
}
.text-style .text-orange {
  color: orange;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.42);
  margin-right: 15px;
}
.text-style .text-yellow {
  color: yellow;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.42);
}
.trophy-image {
  float: left;
  margin: 0px 20px 12px 0px;
  max-width: 120px;
}
.trophy-image2 {
  float: left;
  margin: 0px 20px 12px 0px;
  width: 100%;
  max-width: 230px;
}
.wild-battle-imgbox img {
  border:10px #fff solid;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 0.15);
  margin:20px 0px;
}
.content-imageleft {
  width: 100%;
  display: table;
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px #DBDBDB solid;
}
.content-imageleft:last-child {
  border-bottom: none;
  margin-bottom:0px;
}
.symbol-small img {
  max-width: 60px;
}
.symbol-box img {
  max-width: 80px;
}
.screenshot-holder {
  text-align: center;
  margin:35px 0px;
  display: inline-block;
  width: 100%;
}
.screenshot-holder img {
  width: 100%;
  max-width: 800px;
  border:10px #fff solid;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0px 0px 17px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         0px 0px 17px 0px rgba(50, 50, 50, 0.15);
}
.black-box {
  background: #000;
  padding: 9px;
  text-align: left;
  width: 173px;
  display: table-caption;
}
.black-box img {
  float: left;
  padding-right: 7px;
}
.black-box p {
  color: #fff;
  padding-top: 3px;
  margin: 0 auto;
}
.black-box p span {
  font-size: 10px;
}
.black-box2 {
  background: #000;
  padding: 9px;
  text-align: left;
  width: 100%;
}
.blackbox-holder {
  margin: 0 auto;
  display: inline-block;
  padding: 10px;
}
.mobile-blackbox .black-box3 p {
  padding-top:0;
}
.black-box3 {
  background: #000;
  padding: 9px;
  text-align: left;
  width: 190px;
  float: left;
}
.black-box3 p {
  padding-top: 7px;
}
.black-box2 img, .black-box3 img{
  float: left;
  padding-right: 7px;
}
.black-box2 p, .black-box3 p {
  margin: 0 auto;
  color: white;
  font-size: 15px;
  line-height: 14px;
}
.black-box2 p span, .black-box3 p span {
  color: #888888;
  font-size: 12px;
}
.circle-btn {
  max-width:70px; 
  vertical-align: middle;
}
.img-resizer1 {
  max-width:110px; 
  vertical-align: middle;
}
.img-resizer2 {
  max-width:140px; 
}
.img-resizer3 {
  max-width:260px; 
}
.web-button-img {
  text-align: center;
  margin: 0 auto;
  max-width:606px; 
}
/*end kung fu furry*/


/*start colored line styles*/
.color-number {
  text-align: left;
}
.color-number p {
  margin: 0 auto;
  padding: 0;
  float: left;
  padding-left: 40px;
  font-size: 12px;
}
.color-number h3 {
  margin: 0 auto;
  padding: 0;
  margin:0;
  float: left;
  padding-left: 2px;
}
.table-cicles {
  margin: 0 auto;
  width: 575px;
}
.color-number h3 {
  font-size: 14px;
}
.color-number span {
  color: red;
}
.color-number .text-red {
  color: #ff0000;
}
.color-number .text-purple {
  color: #8149ac;
}
.color-number .blue-light {
  color: #006dbf;
}
.color-number .blue-dark {
  color: #002060;
}
.color-number .blue-green {
  color: #42c47c;
}
.color-number p .hight-txt {
  padding-left: 30px;
}
.fl-red {
  float: left;
  color: red;
}
/*start colored line styles*/


/*------start accordion inside------*/
.collapse-inside {
  margin-bottom: 30px;
}
.ac-btn {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 11px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.ako, .ac-btn:hover {
  background-color: #ccc;
}

.ac-btn:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.ako:after {
    content: "\2212";
}

.ac-holder {
  background-color: white;
  max-height: 0;
  margin-bottom: 1px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.ac-content {
  width: 100%;
  height: 100%;
}
.ac-content p {
  margin-bottom: 0;
  margin: 0px 0px 17px 0px;
}

.expand-inside .panel-heading a.collapsed {
    background: #eee;
    color: #000;
    font-size: 15px;
    border-bottom: 1px white solid;
}
.expand-inside .panel-heading a.collapsed:after {
   color: #000;
   text-decoration: none;
}
.expand-inside .panel-heading a:hover {
    color: #fff;
    text-decoration: none;
}
/*.expand-inside .panel-body a:collapsed:focus{
  background: #ccc;
}*/
.expand-inside .panel-group .panel-heading+.panel-collapse>.list-group, 
.expand-inside .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: 1px #DBDBDB solid;
  border-top: none;
}
/*------end accordion inside------*/


.no-border {
  border: none;
}
.no-padding, .no-margin {
  padding: 0;
  margin: 0;
}
.imgleft-content img {
  float: left;
  margin: 0px 40px 30px 0px;
}
.table-fontsize {
  font-size: 11px;
}

/*Large Devices, Wide Screens*/
@media screen and (max-width:1200px) {

}

/*Medium Devices, Desktops*/
@media screen and (max-width:991px) {
  .content-imageleft p {
    padding-left: 20px;
  }
  .black-box3 {
    width: 190px;
  }
}

/*Small Devices, Tablets*/
@media screen and (max-width:767px) {

  .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    /* white-space: nowrap; */
    white-space: unset;
    font-size: 12px;
    line-height: 17px;
}
  .imgleft-content img {
    float: none;
    text-align: center;
  }
  .web-button-img {
    text-align: left;
    margin: 0;
  }
  .content-imageleft p {
    padding-left: 0px;
  }
  .bx-scroll {
    float: left;
    max-width: 100%;
    width: 940px;
    overflow-x: scroll;
}
  .panel-group .panel-heading a {
    padding: 15px 40px 15px 15px;
  }
  .panel-body ol ul {
    padding: 0;
  }
  .navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    border: 1px solid #DBDBDB;
  }
  .navbar-nav {
    margin: 0px -15px;
    border-top: none;
  }
  .navbar-default .navbar-nav li {
    display: block;
    background: none;
    border-right: none;
    padding: 0;
    margin: 0;
  }
  .sub-menusbx span.menu-select {
    display: block;  
  }
  .navbar-nav li a {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-transform: capitalize;
  }
  .navbar-default .navbar-nav> li span {
    display: none;
  }
 .navbar-default .navbar-nav>li>a {
    border-bottom: 1px #DBDBDB solid;
    font-size: 15px;
    padding: 10px 0px;     
  }
  .navbar-default .navbar-nav>.active>a, 
  .navbar-default .navbar-nav>.active>a:focus, 
  .navbar-default .navbar-nav>.active>a:hover {
    background: #ddd;
  }
  .navbar-default .navbar-nav>li>a:focus, 
  .navbar-default .navbar-nav>li>a:hover {
    color:#A8C62C;
    background: #f8f8f8;
  }
  .navbar-default .navbar-toggle {
    background: #C1C1C1 ;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .navbar-default .navbar-toggle .icon-bar,
  .navbar-toggle .icon-bar+.icon-bar {
    background: #fff;
  }
  .navbar-default .navbar-toggle:focus, 
  .navbar-default .navbar-toggle:hover {
    background: #A8C62C;
  }
  .table-responsive {
    border: none;   
  }
  .table td {
    text-align: left;
  }
}

/*Extra Small Devices, Phones*/
@media screen and (max-width:480px) {
  .nav-ico li a {
    font-size: 15px;
    line-height: 20px;
  }
  .nav-ico li a i {
    font-size: 40px;
    margin-bottom: -7px;
  }
  .nav-ico li a span {
      display: none;
  }
  .submenu li a {
    line-height: 28px;
    font-size: 15px;
    text-transform: capitalize;
  }
  .panel-group .panel-heading a {
    font-size: 15px;
    line-height: 18px;
    padding: 15px 40px 15px 15px;
  }
  .panel-group .panel-heading a:after {
    right: 9px;
    top: 15px;
    font-size: 22px;
  }
  .panel-body {
    font-size: 14px;
    line-height:24px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    float: left;
    min-width: 4rem!important;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .5rem!important;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    /*border-radius: .25rem;*/
}

button#languageDropdown {
    margin: 1rem;
    width: 6rem!important;
    font-size: 0.5rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item {
    padding: .25rem .85rem !important;
    min-width: 6rem !important;
}

}

/*Custom, iPhone Retina*/
@media screen and (max-width:320px) {
  .nav-ico li a {
    font-size: 12px; 
    line-height: 18px;
  }
  .nav-ico li a i {
    font-size: 35px;
    margin-bottom: -7px;
  }
  .sub-menusbx span.menu-select {
  }
  .submenu li a {
    line-height: 28px;
    font-size: 13px;
  }
  .submenu li span {
    padding: 0px 6px;
  }
  .panel-group .panel-heading a {
    font-size: 14px;
    line-height: 18px;
    padding: 15px 40px 15px 15px;
  }
  .panel-group .panel-heading a:after {
    right: 9px;
    top: 15px;
    font-size: 22px;
  }
  .panel-body {
    font-size: 13px;
    line-height:20px;
  }

}

#languageDropdown {
    margin: 15px;
    border: 1px solid black;
    background-color: white;
  }





.gamesImageSmall{
  width: 50%!important;
}

.gamesImageSmall2{
  width: 20%!important;
}

.gamesImageSmall3{
  width: 10%!important;
}

.gamesImageLarge{
  width: 80%!important;
}

.dropdown-menu{
  position:absolute;
  top:100%;
  left:0;
  z-index:1000;
  display:none;
  float:left;
  min-width:11rem;
}

footer {
  position: relative;
    bottom: 0;
    width: 100%;
}

.dropup button{
  color: black!important;
}

.thumbnails {
  width: 100%!important;
}


@media (min-width: 350px) {
    .container {
        max-width:320px
    }



}



@media (min-width: 350px) {
    .container,.container-sm {
        max-width:320px
    }
}

@media (min-width: 350px) {
    .col-sm {
        -ms-flex-preferred-size:0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .row-cols-sm-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .row-cols-sm-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .row-cols-sm-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .row-cols-sm-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .row-cols-sm-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .row-cols-sm-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-sm-first {
        -ms-flex-order: -1;
        order: -1
    }

    .order-sm-last {
        -ms-flex-order: 13;
        order: 13
    }

    .order-sm-0 {
        -ms-flex-order: 0;
        order: 0
    }

    .order-sm-1 {
        -ms-flex-order: 1;
        order: 1
    }

    .order-sm-2 {
        -ms-flex-order: 2;
        order: 2
    }

    .order-sm-3 {
        -ms-flex-order: 3;
        order: 3
    }

    .order-sm-4 {
        -ms-flex-order: 4;
        order: 4
    }

    .order-sm-5 {
        -ms-flex-order: 5;
        order: 5
    }

    .order-sm-6 {
        -ms-flex-order: 6;
        order: 6
    }

    .order-sm-7 {
        -ms-flex-order: 7;
        order: 7
    }

    .order-sm-8 {
        -ms-flex-order: 8;
        order: 8
    }

    .order-sm-9 {
        -ms-flex-order: 9;
        order: 9
    }

    .order-sm-10 {
        -ms-flex-order: 10;
        order: 10
    }

    .order-sm-11 {
        -ms-flex-order: 11;
        order: 11
    }

    .order-sm-12 {
        -ms-flex-order: 12;
        order: 12
    }

    .offset-sm-0 {
        margin-left: 0
    }

    .offset-sm-1 {
        margin-left: 8.333333%
    }

    .offset-sm-2 {
        margin-left: 16.666667%
    }

    .offset-sm-3 {
        margin-left: 25%
    }

    .offset-sm-4 {
        margin-left: 33.333333%
    }

    .offset-sm-5 {
        margin-left: 41.666667%
    }

    .offset-sm-6 {
        margin-left: 50%
    }

    .offset-sm-7 {
        margin-left: 58.333333%
    }

    .offset-sm-8 {
        margin-left: 66.666667%
    }

    .offset-sm-9 {
        margin-left: 75%
    }

    .offset-sm-10 {
        margin-left: 83.333333%
    }

    .offset-sm-11 {
        margin-left: 91.666667%
    }
}

@media (min-width: 350px) {
    .form-inline label {
        display:-ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0
    }

    .form-inline .form-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .form-inline .form-control-plaintext {
        display: inline-block
    }

    .form-inline .custom-select,.form-inline .input-group {
        width: auto
    }

    .form-inline .form-check {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: auto;
        padding-left: 0
    }

    .form-inline .form-check-input {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-top: 0;
        margin-right: .25rem;
        margin-left: 0
    }

    .form-inline .custom-control {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .form-inline .custom-control-label {
        margin-bottom: 0
    }
}

@media (min-width: 350px) {
    .dropdown-menu-sm-left {
        right:auto;
        left: 0
    }

    .dropdown-menu-sm-right {
        right: 0;
        left: auto
    }
}

@media (min-width: 350px) {
    .navbar-expand-sm {
        -ms-flex-flow:row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid,.navbar-expand-sm>.container-lg,.navbar-expand-sm>.container-md,.navbar-expand-sm>.container-sm,.navbar-expand-sm>.container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .navbar-expand-sm .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-sm .navbar-toggler {
        display: none
    }
}

@media (min-width: 350px) {
    .card-deck {
        display:-ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

    .card-deck .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px
    }
}

@media (min-width: 350px) {
    .card-group {
        display:-ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .card-group>.card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0
    }

    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .card-group>.card:not(:last-child) .card-header,.card-group>.card:not(:last-child) .card-img-top {
        border-top-right-radius: 0
    }

    .card-group>.card:not(:last-child) .card-footer,.card-group>.card:not(:last-child) .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .card-group>.card:not(:first-child) .card-header,.card-group>.card:not(:first-child) .card-img-top {
        border-top-left-radius: 0
    }

    .card-group>.card:not(:first-child) .card-footer,.card-group>.card:not(:first-child) .card-img-bottom {
        border-bottom-left-radius: 0
    }
}

@media (min-width: 350px) {
    .card-columns {
        -webkit-column-count:3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1
    }

    .card-columns .card {
        display: inline-block;
        width: 100%
    }
}

@media (min-width: 350px) {
    .jumbotron {
        padding:4rem 2rem
    }
}

@media (min-width: 350px) {
    .list-group-horizontal-sm {
        -ms-flex-direction:row;
        flex-direction: row
    }

    .list-group-horizontal-sm .list-group-item:first-child {
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0
    }

    .list-group-horizontal-sm .list-group-item:last-child {
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0
    }

    .list-group-horizontal-sm .list-group-item.active {
        margin-top: 0
    }

    .list-group-horizontal-sm .list-group-item+.list-group-item {
        border-top-width: 1px;
        border-left-width: 0
    }

    .list-group-horizontal-sm .list-group-item+.list-group-item.active {
        margin-left: -1px;
        border-left-width: 1px
    }
}

@media (min-width: 350px) {
    .modal-dialog {
        max-width:500px;
        margin: 1.75rem auto
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem)
    }

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem)
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .modal-dialog-centered::before {
        height: calc(100vh - 3.5rem)
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width: 350px) {
    .d-sm-none {
        display:none!important
    }

    .d-sm-inline {
        display: inline!important
    }

    .d-sm-inline-block {
        display: inline-block!important
    }

    .d-sm-block {
        display: block!important
    }

    .d-sm-table {
        display: table!important
    }

    .d-sm-table-row {
        display: table-row!important
    }

    .d-sm-table-cell {
        display: table-cell!important
    }

    .d-sm-flex {
        display: -ms-flexbox!important;
        display: flex!important
    }

    .d-sm-inline-flex {
        display: -ms-inline-flexbox!important;
        display: inline-flex!important
    }
}

@media (min-width: 350px) {
    .flex-sm-row {
        -ms-flex-direction:row!important;
        flex-direction: row!important
    }

    .flex-sm-column {
        -ms-flex-direction: column!important;
        flex-direction: column!important
    }

    .flex-sm-row-reverse {
        -ms-flex-direction: row-reverse!important;
        flex-direction: row-reverse!important
    }

    .flex-sm-column-reverse {
        -ms-flex-direction: column-reverse!important;
        flex-direction: column-reverse!important
    }

    .flex-sm-wrap {
        -ms-flex-wrap: wrap!important;
        flex-wrap: wrap!important
    }

    .flex-sm-nowrap {
        -ms-flex-wrap: nowrap!important;
        flex-wrap: nowrap!important
    }

    .flex-sm-wrap-reverse {
        -ms-flex-wrap: wrap-reverse!important;
        flex-wrap: wrap-reverse!important
    }

    .flex-sm-fill {
        -ms-flex: 1 1 auto!important;
        flex: 1 1 auto!important
    }

    .flex-sm-grow-0 {
        -ms-flex-positive: 0!important;
        flex-grow: 0!important
    }

    .flex-sm-grow-1 {
        -ms-flex-positive: 1!important;
        flex-grow: 1!important
    }

    .flex-sm-shrink-0 {
        -ms-flex-negative: 0!important;
        flex-shrink: 0!important
    }

    .flex-sm-shrink-1 {
        -ms-flex-negative: 1!important;
        flex-shrink: 1!important
    }

    .justify-content-sm-start {
        -ms-flex-pack: start!important;
        justify-content: flex-start!important
    }

    .justify-content-sm-end {
        -ms-flex-pack: end!important;
        justify-content: flex-end!important
    }

    .justify-content-sm-center {
        -ms-flex-pack: center!important;
        justify-content: center!important
    }

    .justify-content-sm-between {
        -ms-flex-pack: justify!important;
        justify-content: space-between!important
    }

    .justify-content-sm-around {
        -ms-flex-pack: distribute!important;
        justify-content: space-around!important
    }

    .align-items-sm-start {
        -ms-flex-align: start!important;
        align-items: flex-start!important
    }

    .align-items-sm-end {
        -ms-flex-align: end!important;
        align-items: flex-end!important
    }

    .align-items-sm-center {
        -ms-flex-align: center!important;
        align-items: center!important
    }

    .align-items-sm-baseline {
        -ms-flex-align: baseline!important;
        align-items: baseline!important
    }

    .align-items-sm-stretch {
        -ms-flex-align: stretch!important;
        align-items: stretch!important
    }

    .align-content-sm-start {
        -ms-flex-line-pack: start!important;
        align-content: flex-start!important
    }

    .align-content-sm-end {
        -ms-flex-line-pack: end!important;
        align-content: flex-end!important
    }

    .align-content-sm-center {
        -ms-flex-line-pack: center!important;
        align-content: center!important
    }

    .align-content-sm-between {
        -ms-flex-line-pack: justify!important;
        align-content: space-between!important
    }

    .align-content-sm-around {
        -ms-flex-line-pack: distribute!important;
        align-content: space-around!important
    }

    .align-content-sm-stretch {
        -ms-flex-line-pack: stretch!important;
        align-content: stretch!important
    }

    .align-self-sm-auto {
        -ms-flex-item-align: auto!important;
        align-self: auto!important
    }

    .align-self-sm-start {
        -ms-flex-item-align: start!important;
        align-self: flex-start!important
    }

    .align-self-sm-end {
        -ms-flex-item-align: end!important;
        align-self: flex-end!important
    }

    .align-self-sm-center {
        -ms-flex-item-align: center!important;
        align-self: center!important
    }

    .align-self-sm-baseline {
        -ms-flex-item-align: baseline!important;
        align-self: baseline!important
    }

    .align-self-sm-stretch {
        -ms-flex-item-align: stretch!important;
        align-self: stretch!important
    }
}

@media (min-width: 350px) {
    .float-sm-left {
        float:left!important
    }

    .float-sm-right {
        float: right!important
    }

    .float-sm-none {
        float: none!important
    }
}


@media (min-width: 350px) {
    .m-sm-0 {
        margin:0!important
    }

    .mt-sm-0,.my-sm-0 {
        margin-top: 0!important
    }

    .mr-sm-0,.mx-sm-0 {
        margin-right: 0!important
    }

    .mb-sm-0,.my-sm-0 {
        margin-bottom: 0!important
    }

    .ml-sm-0,.mx-sm-0 {
        margin-left: 0!important
    }

    .m-sm-1 {
        margin: .25rem!important
    }

    .mt-sm-1,.my-sm-1 {
        margin-top: .25rem!important
    }

    .mr-sm-1,.mx-sm-1 {
        margin-right: .25rem!important
    }

    .mb-sm-1,.my-sm-1 {
        margin-bottom: .25rem!important
    }

    .ml-sm-1,.mx-sm-1 {
        margin-left: .25rem!important
    }

    .m-sm-2 {
        margin: .5rem!important
    }

    .mt-sm-2,.my-sm-2 {
        margin-top: .5rem!important
    }

    .mr-sm-2,.mx-sm-2 {
        margin-right: .5rem!important
    }

    .mb-sm-2,.my-sm-2 {
        margin-bottom: .5rem!important
    }

    .ml-sm-2,.mx-sm-2 {
        margin-left: .5rem!important
    }

    .m-sm-3 {
        margin: 1rem!important
    }

    .mt-sm-3,.my-sm-3 {
        margin-top: 1rem!important
    }

    .mr-sm-3,.mx-sm-3 {
        margin-right: 1rem!important
    }

    .mb-sm-3,.my-sm-3 {
        margin-bottom: 1rem!important
    }

    .ml-sm-3,.mx-sm-3 {
        margin-left: 1rem!important
    }

    .m-sm-4 {
        margin: 1.5rem!important
    }

    .mt-sm-4,.my-sm-4 {
        margin-top: 1.5rem!important
    }

    .mr-sm-4,.mx-sm-4 {
        margin-right: 1.5rem!important
    }

    .mb-sm-4,.my-sm-4 {
        margin-bottom: 1.5rem!important
    }

    .ml-sm-4,.mx-sm-4 {
        margin-left: 1.5rem!important
    }

    .m-sm-5 {
        margin: 3rem!important
    }

    .mt-sm-5,.my-sm-5 {
        margin-top: 3rem!important
    }

    .mr-sm-5,.mx-sm-5 {
        margin-right: 3rem!important
    }

    .mb-sm-5,.my-sm-5 {
        margin-bottom: 3rem!important
    }

    .ml-sm-5,.mx-sm-5 {
        margin-left: 3rem!important
    }

    .p-sm-0 {
        padding: 0!important
    }

    .pt-sm-0,.py-sm-0 {
        padding-top: 0!important
    }

    .pr-sm-0,.px-sm-0 {
        padding-right: 0!important
    }

    .pb-sm-0,.py-sm-0 {
        padding-bottom: 0!important
    }

    .pl-sm-0,.px-sm-0 {
        padding-left: 0!important
    }

    .p-sm-1 {
        padding: .25rem!important
    }

    .pt-sm-1,.py-sm-1 {
        padding-top: .25rem!important
    }

    .pr-sm-1,.px-sm-1 {
        padding-right: .25rem!important
    }

    .pb-sm-1,.py-sm-1 {
        padding-bottom: .25rem!important
    }

    .pl-sm-1,.px-sm-1 {
        padding-left: .25rem!important
    }

    .p-sm-2 {
        padding: .5rem!important
    }

    .pt-sm-2,.py-sm-2 {
        padding-top: .5rem!important
    }

    .pr-sm-2,.px-sm-2 {
        padding-right: .5rem!important
    }

    .pb-sm-2,.py-sm-2 {
        padding-bottom: .5rem!important
    }

    .pl-sm-2,.px-sm-2 {
        padding-left: .5rem!important
    }

    .p-sm-3 {
        padding: 1rem!important
    }

    .pt-sm-3,.py-sm-3 {
        padding-top: 1rem!important
    }

    .pr-sm-3,.px-sm-3 {
        padding-right: 1rem!important
    }

    .pb-sm-3,.py-sm-3 {
        padding-bottom: 1rem!important
    }

    .pl-sm-3,.px-sm-3 {
        padding-left: 1rem!important
    }

    .p-sm-4 {
        padding: 1.5rem!important
    }

    .pt-sm-4,.py-sm-4 {
        padding-top: 1.5rem!important
    }

    .pr-sm-4,.px-sm-4 {
        padding-right: 1.5rem!important
    }

    .pb-sm-4,.py-sm-4 {
        padding-bottom: 1.5rem!important
    }

    .pl-sm-4,.px-sm-4 {
        padding-left: 1.5rem!important
    }

    .p-sm-5 {
        padding: 3rem!important
    }

    .pt-sm-5,.py-sm-5 {
        padding-top: 3rem!important
    }

    .pr-sm-5,.px-sm-5 {
        padding-right: 3rem!important
    }

    .pb-sm-5,.py-sm-5 {
        padding-bottom: 3rem!important
    }

    .pl-sm-5,.px-sm-5 {
        padding-left: 3rem!important
    }

    .m-sm-n1 {
        margin: -.25rem!important
    }

    .mt-sm-n1,.my-sm-n1 {
        margin-top: -.25rem!important
    }

    .mr-sm-n1,.mx-sm-n1 {
        margin-right: -.25rem!important
    }

    .mb-sm-n1,.my-sm-n1 {
        margin-bottom: -.25rem!important
    }

    .ml-sm-n1,.mx-sm-n1 {
        margin-left: -.25rem!important
    }

    .m-sm-n2 {
        margin: -.5rem!important
    }

    .mt-sm-n2,.my-sm-n2 {
        margin-top: -.5rem!important
    }

    .mr-sm-n2,.mx-sm-n2 {
        margin-right: -.5rem!important
    }

    .mb-sm-n2,.my-sm-n2 {
        margin-bottom: -.5rem!important
    }

    .ml-sm-n2,.mx-sm-n2 {
        margin-left: -.5rem!important
    }

    .m-sm-n3 {
        margin: -1rem!important
    }

    .mt-sm-n3,.my-sm-n3 {
        margin-top: -1rem!important
    }

    .mr-sm-n3,.mx-sm-n3 {
        margin-right: -1rem!important
    }

    .mb-sm-n3,.my-sm-n3 {
        margin-bottom: -1rem!important
    }

    .ml-sm-n3,.mx-sm-n3 {
        margin-left: -1rem!important
    }

    .m-sm-n4 {
        margin: -1.5rem!important
    }

    .mt-sm-n4,.my-sm-n4 {
        margin-top: -1.5rem!important
    }

    .mr-sm-n4,.mx-sm-n4 {
        margin-right: -1.5rem!important
    }

    .mb-sm-n4,.my-sm-n4 {
        margin-bottom: -1.5rem!important
    }

    .ml-sm-n4,.mx-sm-n4 {
        margin-left: -1.5rem!important
    }

    .m-sm-n5 {
        margin: -3rem!important
    }

    .mt-sm-n5,.my-sm-n5 {
        margin-top: -3rem!important
    }

    .mr-sm-n5,.mx-sm-n5 {
        margin-right: -3rem!important
    }

    .mb-sm-n5,.my-sm-n5 {
        margin-bottom: -3rem!important
    }

    .ml-sm-n5,.mx-sm-n5 {
        margin-left: -3rem!important
    }

    .m-sm-auto {
        margin: auto!important
    }

    .mt-sm-auto,.my-sm-auto {
        margin-top: auto!important
    }

    .mr-sm-auto,.mx-sm-auto {
        margin-right: auto!important
    }

    .mb-sm-auto,.my-sm-auto {
        margin-bottom: auto!important
    }

    .ml-sm-auto,.mx-sm-auto {
        margin-left: auto!important
    }
}

@media (max-width: 350px) {
    .text-sm-left {
        text-align:left!important
    }

    .text-sm-right {
        text-align: right!important
    }

    .text-sm-center {
        text-align: center!important
    }


}

.game_name {
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 2rem;
    background: white;
    color: black;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem!important;
    line-height: 1rem;

}